* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    position: relative;
    list-style: none;
}

html {
    font-size: 62.5%; /* 10px = 1rem */
}

section, 
header, 
footer, 
.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 1920px;
    padding: 0 15dvw;
    flex-direction: column;
}

h1, h2, h3 {
    width: 100%;
    text-align: center;
}

h1 {
    font-size: clamp(16px, 6dvh, 3.8rem);
}

h2 {
    font-size: clamp(16px, 4dvh, 3rem);
}

h3 {
    font-size: clamp(16px, 2.5dvh, 2rem);
}

p, 
textarea, 
input, 
span, 
label,
button {
    font-size: clamp(1.6rem, 3dvh, 2.8rem);
}

.d-none {
    display: none;
}