
/* #region default */
hr {
    border-color: #68748b;
    margin: 0.5rem 2rem;
}

.creator{
    color: darksalmon;
}
/* #endregion default */

/* #region Header */

.main-header {
    height: 15dvh;

    background: #01050C;
    background: linear-gradient(90deg,rgba(1, 5, 12, 1) 0%, rgba(28, 47, 80, 1) 50%);

    justify-content: start;
    
    >img {
        height: clamp(5dvh, 4dvw, 5dvw);
        padding-left: 2rem;

        @media (max-width: 500px) {
            height: 100dvw * 0.99;
        }
    }
}
/* #endregion Header */

/* #region Section Books */
.book-section {
    background: #03183d;
    
    padding: 5rem 0;
    .content {

        .book-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            
            row-gap: 4rem;
            column-gap: 2rem;
        }
    }
}
/* #endregion Section Books */

/* #region Book Card */

.book-card {
    width: 30rem;
    height: 70dvh;
    
    background: #1C2F50;
    background: linear-gradient(135deg,rgba(28, 47, 80, 1) 50%, rgba(179, 186, 197, 1) 100%);
    
    border-radius: 2rem;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            

    .book-header{
        display: flex;
        flex-direction: column;
        
        h2 {
            background-color: #68748b;
            padding: 1rem;
            border-top-left-radius: 2rem;
            border-top-right-radius: 2rem;
            color: white;
            min-height: 8.8rem;
            align-content: center;
        }
        
        .head-img {
            width: 100%;
            height: 200px;
        }
        
        .book-info-head {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 2rem;

            >span {
                width: 60%;
                font-size: 2rem;
                color: red;
            }
            >div {
                display:flex; 
                justify-content: flex-end;
                align-items: center;
                gap: 1rem;
                width: 40%;

                span {
                    color: white;
                    font-weight: bold;
                    text-align: end;
                }

                .like-btn {
                    width: 3rem;
                    height: 3rem;
                }
                .like-btn:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .book-info {
        padding: 0 2rem;
        .info-table {
            color: white;
            tbody {
                tr {
                    td {
                        width: 40%;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-size: 1.6rem;
                        max-width: 12rem;  
                        overflow: hidden;
                    }
                }           
            }
        }
    }

    .comment-container {
        margin-top: 1rem;
        padding: 0 2rem;
        color: white;

        h3{
            text-align: left;
            padding-bottom: 1rem;
        }
        
        >div {
            height: 12dvh;
            overflow: auto;
            .comment-table {
                tbody {
                    tr {
                        td {
                            font-size: 1.6rem; 
                            
                        }
                        .td-align {
                            vertical-align: text-top;
                            min-width: 8rem;
                        }
                    }           
                }
            }
        }
    }

    .add-comment-container {
        padding: 1rem 1rem;

        form {
            width: 100%;
            display: flex; 
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            .comment-input {
                width: 100%;
                padding: 0.5rem;
                background-color: rgba(50, 50, 50, 0.3);
                color: white;
                border: 2px solid rgba(0, 0, 0, 0.11);
                border-radius: 4px;;
                
            }

            .comment-input:hover {
                cursor: text;
            }

            .comment-submit-btn {
                padding: 0;
                background-color: transparent;
                border: none;
                
                >img {
                    height: 2rem;
                    width: 2rem;
                }
            }

            .comment-submit-btn:hover {
                cursor: pointer;
            }
        }
    }
}

/* #endregion Book Card */

/* #region Footer */

footer {
    width: 100%;
    height: 15dvh;

    background: #01050C;
    background: linear-gradient(90deg,rgba(1, 5, 12, 1) 0%, rgba(28, 47, 80, 1) 100%);


    >img {
        height: clamp(5dvh, 4dvw, 5dvw);
        padding-left: 2rem;

        @media (max-width: 500px) {
            height: 100dvw * 0.99;
        }
    }
}



/* #endregion Footer */

/* #region googled style for transparent scrollbar */

::-webkit-scrollbar {
  width: 12px; /* Mostly for vertical scrollbars */
  height: 12px; /* Mostly for horizontal scrollbars */
}
::-webkit-scrollbar-thumb { /* Foreground */
  background: var(--scrollbar-foreground);
  background: #1C2F50;
  border-radius: 999px;
  border: 3px solid transparent;
  background-clip: padding-box;
}
::-webkit-scrollbar-track { /* Background */
  background: var(--scrollbar-background);
  background: transparent;
}
/* #endregion googled style for transparent scrollbar */

/* #region googled style for input placeholder */
::placeholder {
  color: rgba(250, 250, 250, 0.7);
  opacity: 1; /* Firefox */
}
/* #endregion googled style for input placeholder */

